:root {
    --task-done: rgba(215, 217, 206, 62%);
}

.taskItem {
    position: relative;
    background-color: var(--background-color);
}

.title {
    --after-width: 0px;
    --task-x-position: 0px;
    transform: translateX(var(--task-x-position));
    position: relative;

    &.done {
        --after-width: 100%;
        color: var(--task-done);
    }
    &.smooth {
        transition: all 1s;
    }
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    height: 1px; /* Thickness of the line */
    background: rgba(215, 217, 206, 1); /* Color of the line */
    transform: translateY(-50%); /* Center the line vertically */
    width: var(--after-width);
}

.title.done::after {
    background: rgb(133, 133, 133);
    width: var(--after-width);
}

.removeImg {
    --img-remove-x-position: -30px;

    position: absolute;
    right: var(--img-remove-x-position);
    top: 50%;
    transform: translate(-50%, -50%);

    &.smooth {
        transition: all 1s;
    }
}